{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock %}
{% block body %}

<section >
  <div class='container'>
    <div class='row'>
      <div class='col-md-4 col-md-offset-4'>
        <div class="section">
          <div class="page-header">
            <h2>{{ title }}</h2>
          </div>
          <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="form-group">
              {{ form.email|add_class:"form-control"|attr:"autofocus"|attr:"placeholder:Email" }}
              {% if form.email.errors %}
              <div class="alert alert-danger" role="alert">
                {{ form.email.errors }}
              </div>
              {% endif %}
              {% if form.email.help_text %}
              <p class="help-block">{{ form.email.help_text|safe }}</p>
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.email2|add_class:"form-control"|attr:"placeholder:Re-enter Email" }}
              {% if form.email2.errors %}
              <div class="alert alert-danger" role="alert">
                {{ form.email2.errors }}
              </div>
              {% endif %}
              {% if form.email2.help_text %}
              <p class="help-block">{{ form.email2.help_text|safe }}</p>
              {% endif %}
            </div>

            <div class="form-group">
              {% render_field form.username class="form-control" placeholder="Username" data-container=" body" data-toggle="popover" data-content=form.username.help_text data-trigger="focus" %}
              {% if form.username.errors %}
              <div class="alert alert-danger" role="alert">
                {{ form.username.errors }}
              </div>
              {% endif %}
            </div>

            <div class="form-group">
              {% render_field form.password class="form-control" placeholder="Password" data-container=" body" data-toggle="popover" data-content=form.password.help_text data-trigger="focus" %}
              {% if form.password.errors %}
              <div class="alert alert-danger" role="alert">
                {{ form.password.errors }}
              </div>
              {% endif %}
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">{{ button_text }}</button>
            </div>

            <div class="form-group">
              <p>By signing up, you agree to our <a href="#">Terms</a> & <a href="#">Privacy Policy.</a></p>
              <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
