 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}Viz{% endblock title %}</title>

  <!-- Bootstrap -->
  <!-- <link href="{% static "bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet"> -->
  <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" %}" rel="stylesheet">
  <link href="{% static "css/index.css" %}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="{% block body-background %}{% endblock body-background %}">

  <div id="js-nav-v-body" class="nav-v__body hidden">
    <div class="header header--flex header--flex-end pt--m pb--m">
      <button type="button" class="button button--transparent js-nav-v-body-toggle"><span class="fa fa-times fa-2x" aria-hidden="true"></span></button>
    </div>
    <div class="content mb--l">
      <ul class="list">
        <li class="list__item"><a href="{% url 'home' %}" class="a--block a--nav-v a--transparent">Home</a></li>
        <li class="list__item"><button class="button button--block button--nav-v button--transparent button--transparent-hover button--flex js-nav-links-group-toggle"><span>Account</span><span class="fa fa-angle-right fa-lg" aria-hidden="true"></span></button></li>
        <ul class="list hidden">
          <li class="list__item"><a href="#" class="a--block a--nav-v a--transparent">Profile</a></li>
          <li class="list__item"><a href="#" class="a--block a--nav-v a--transparent">Settings</a></li>
          <li class="list__item"><a href="#" class="a--block a--nav-v a--transparent">Log out</a></li>
        </ul>
        <li class="list__item"><button class="button button--block button--nav-v button--transparent button--transparent-hover button--flex js-nav-links-group-toggle"><span>Tags</span><span class="fa fa-angle-right fa-lg" aria-hidden="true"></span></button></li>
        {% block nav-v-tags %}
        <ul class="list hidden">
          {% for tag in main_tags %}
          <li class="list__item"><a href="{{ tag.get_absolute_url }}" class="a--block a--nav-v a--transparent">{{ tag.name|capfirst }}</a></li>
          {% endfor %}
        </ul>
        {% endblock nav-v-tags %}
        <li class="list__item"><button type="button" class="button button--block button--nav-v button--transparent button--transparent-hover button--text-left">Sign in / Sign up</button></li>
        <li class="list__item"><button type="button" class="button button--block button--nav-v button--transparent button--transparent-hover button--text-left"><span class="fa fa-search" aria-hidden="true"></span></button></li>
      </ul>
          </div>
    </div>

  <div class="nav-wrapper">
    <div class="container">
      <div class="nav-v">
        <div class="header header--flex header--flex-space-between pt--m pb--m">
          <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static "png/png/badoo.png" %}" class="img--logo" alt="Logo"></a>
          </div>
          <div class="action">
            <button type="button" class="button button--transparent js-nav-v-body-toggle"><span class="fa fa-bars fa-2x" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>

      <div class="nav hidden">
        <div class="header header--flex header--flex-space-between header--padding header--border-b-light">
          <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static "png/png/badoo.png" %}" class="img--logo" alt="Logo"></a>
          </div>
          <div class="action">
            <ul class="list list--flex">
              <li class="list__item list__item--margin-r"><button id="js-nav-search-toggle" type="button" class="button button--transparent button--transparent-hover"><span class="fa fa-search" aria-hidden="true"></span></button></li>
              <li class="list__item list__item--margin-r hidden">
                <div id="js-nav-search" class="input-wrapper">
                  <input id="js-nav-search-field" class="input" type="text" placeholder="Search Viz">
                </div>
              </li>
              <li class="list__item">
                {% if request.user.is_authenticated %}
                <button id="js-nav-dropdown-toggle" class="button"><img src="{{ request.user.profile.avatar.url}}" class="avatar--s"></button>
                {% else %}
                <button id="js-get-login-modal" class="button button--primary button--borderless">Sign in / Sign up</button>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
        {% block nav-tags %}
        <div class="nav__body">
          <ul class="list list--flex">
            <li class="list__item list__item--padding list__item--margin-r"><a href="{% url 'home' %}" class="a--transparent {% block active %}{% endblock active %}">Home</a></li>
            <li class="list__item list__item--padding list__item--margin-r"><a href="#" class="a--transparent">Trending</a></li>
            {% for tag in main_tags %}
            <li class="list__item list__item--padding list__item--margin-r"><a href="{{ tag.get_absolute_url }}" class="a--transparent">{{ tag.name|capfirst }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endblock nav-tags %}
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock body %}

  <div class="footer-wrapper">
    <div class="container">
      <div class="footer-v">
        <div class="footer-v-body">
          <a href="#" class="link--nav-v">Getting started</a>
          <a href="#" class="link--nav-v">Help</a>
          <a href="#" class="link--nav-v">Status</a>
          <a href="#" class="link--nav-v">Blog</a>
          <a href="#" class="link--nav-v">Careers</a>
          <a href="#" class="link--nav-v">Privacy</a>
          <a href="#" class="link--nav-v">Terms</a>
          <a href="#" class="link--nav-v">About</a>
        </div>
      </div>

      <div class="footer hidden">
        <div class="footer-links-wrapper">
          <ul class="footer-links">
            <li class="footer-link"><a href="#" class="link--nav">Getting started</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Help</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Status</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Blog</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Careers</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Privacy</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Terms</a></li>
            <li class="footer-link"><a href="#" class="link--nav">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
  <!-- <script src="{% static "js/autosize.min.js" %}"></script> -->
  <script src="{% static "js/base.js" %}"></script>
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>
