{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}Viz{% endblock title %}</title>

  <!-- Bootstrap -->
  <!-- <link href="{% static "bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet"> -->
  <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" %}" rel="stylesheet">
  <link href="{% static "css/index.css" %}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="{% block body-background %}{% endblock body-background %}">
  <div id="js-nav-v-body" class="nav-v-body hidden">
    <div class="header">
      <button type="button" class="button button--plain js-nav-v-body-toggle"><span class="fa fa-times fa-2x" aria-hidden="true"></span></button>
    </div>
    <div class="body">
      <a href="{% url 'home' %}">Home</a>
      <div class="nav-bl">
        <button class="button button--block js-nav-links-group-toggle"><span>Account</span><span class="fa fa-angle-right fa-lg" aria-hidden="true"></span></button>
        <div class="nav-links hidden">
          <a href="#">Profile</a>
          <a href="#">Settings</a>
          <a href="#">Log out</a>
        </div>
      </div>
      {% block nav-v-tags %}
      <div class="nav-bl">
        <button class="button button--block js-nav-links-group-toggle"><span>Tags</span><span class="fa fa-angle-right fa-lg" aria-hidden="true"></span></button>
        <div class="nav-links hidden">
          {% for tag in main_tags %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name|capfirst }}</a>
          {% endfor %}
        </div>
      </div>
      {% endblock nav-v-tags %}
      <button class="button button--block">Sign in / Sign up</button>
      <button  type="button" class="button button--block"><span class="fa fa-search" aria-hidden="true"></span></button>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="container">
      <div class="nav-v">
        <div class="header">
          <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static "png/png/badoo.png" %}" class="logo" alt="Logo"></a>
          </div>
          <button type="button" class="button button--plain js-nav-v-body-toggle"><span class="fa fa-bars fa-2x" aria-hidden="true"></span></button>
        </div>
      </div>

      <div class="nav hidden">
        <div class="nav-main">
          <div class="nav-logo">
            <a href="{% url 'home' %}"><img src="{% static "png/png/badoo.png" %}" class="logo" alt="Logo"></a>
          </div>
          <div class="nav-action">
            <button id="js-nav-search-toggle" type="button" class="button "><span class="fa fa-search" aria-hidden="true"></span></button>
            <div id="js-nav-search" class="nav-search hidden">
              <input id="js-nav-search-field" type="text" placeholder="Search Viz">
            </div>
            {% if request.user.is_authenticated %}
            <button id="js-nav-dropdown-toggle" class="button"><img src="{{ request.user.profile.avatar.url}}" class="avatar--s"></button>
            {% else %}
            <button id="js-get-login-modal" class="button button--nav-signup">Sign in / Sign up</button>
            {% endif %}

          </div>
        </div>
        {% block nav-tags %}
        <div class="nav-tags-wrapper">
          <ul class="nav-tags">
            <li><a href="{% url 'home' %}" class="{% block active %}{% endblock active %}">Home</a></li>
            <li><a href="#">Trending</a></li>
            {% for tag in main_tags %}
            <li><a href="{{ tag.get_absolute_url }}">{{ tag.name|capfirst }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endblock nav-tags %}
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock body %}

  <div class="footer-wrapper">
    <div class="container">
      <div class="footer-v">
        <div class="footer-v-body">
          <a href="#" class="link--nav-v">Getting started</a>
          <a href="#" class="link--nav-v">Help</a>
          <a href="#" class="link--nav-v">Status</a>
          <a href="#" class="link--nav-v">Blog</a>
          <a href="#" class="link--nav-v">Careers</a>
          <a href="#" class="link--nav-v">Privacy</a>
          <a href="#" class="link--nav-v">Terms</a>
          <a href="#" class="link--nav-v">About</a>
        </div>
      </div>

      <div class="footer hidden">
        <div class="footer-links-wrapper">
          <ul class="footer-links">
            <li class="footer-link"><a href="#" class="link--nav">Getting started</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Help</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Status</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Blog</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Careers</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Privacy</a></li>
            <li class="footer-link"><a href="#" class="link--nav">Terms</a></li>
            <li class="footer-link"><a href="#" class="link--nav">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
  <!-- <script src="{% static "js/autosize.min.js" %}"></script> -->
  <script src="{% static "js/base.js" %}"></script>
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>
