{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block nav-home %}
link--nav-active
{% endblock nav-home%}

{% block body %}
<div class="container">
{% for tag in nav_tags %}
<div class="tag">
  <div class="tag-header">
    <div class="tag-name">
      <h3><a href="{{ tag.get_absolute_url }}">{{ tag.name|capfirst }}</a></h3>
    </div>
    <div class="tag-more">
      <a href="{{ tag.get_absolute_url }}"><span class="margin--right-s">MORE</span><span class="fa fa-angle-right" aria-hidden="true"></span></a>
    </div>
  </div>
  <div class="tag-body row">
    {% for post in tag.get_latest_posts %}
    <div class="tag-post col-md-6">
      <div class="card">
      <div class="tag-post-header">
        <div class="tag-post-avatar margin--right-m"><a href="{{ post.user.profile.get_absolute_url }}"><img src="{{ post.user.profile.avatar.url}}" class="avatar--s"></a></div>
        <div class="tag-post-user"><a href="{{ post.user.profile.get_absolute_url }}">{{ post.user.username }}</a></div>
      </div>
      <div class="tag-post-body">
        <div class="tag-post-title">
          <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
        </div>
        <div class="tag-post-content">
          <a href="{{ post.get_absolute_url }}">{{ post.content|truncatechars:100 }} More</a>
        </div>

      </div>
      <div class="tag-post-footer">
        <div class="tag-post-date">
          <span>{{ post.date_published }}</span>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endfor %}
</div>
{% endblock body %}

{% block javascript %}
{% endblock javascript %}
