{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block nav-home %}
link--nav-active
{% endblock nav-home%}

{% block body %}
{% for tag in nav_tags %}
<div class="tag">
<div class="tag-header">
<div class="tag-name">
  <h3>{{ tag.name }}</h3>
</div>
<div class="tag-more">
  <button class="button"><span>MORE<span><span class="fa fa-angle-right" aria-hidden="true"></span></button>
</div>
</div>
<div class="tag-body">
  {% for post in tag.get_posts %}
  <div class="tag-post">
    <div class="tag-post-header">
      {{ post.title }}
    </div>
    <div class="tag-post-body">
      {{ post.content }}
    </div>
  </div>
  {% endfor %}

</div>
</div>
{% endfor %}
{% endblock body %}

{% block javascript %}
{% endblock javascript %}
