<div id='post_detail_comment_list'>
  {% for comment in comments_current_page %}
  <div class="media">
    <div class="media-left">
      <a href="{% url 'profiles:profile_activity' id=comment.user.id slug=comment.user.profile.slug %}">
        <img class="media-object" src="{{ comment.user.profile.avatar.url }}" alt="..." width="64px" height="64px">
      </a>
    </div>
    <div class="media-body">
      <a class="media-heading" href="{% url 'profiles:profile_activity' id=comment.user.id slug=comment.user.profile.slug %}">{{ comment.user.username }}</a>
      <p>{{ comment.content}} </p>
      <p>{{ comment.date_created}} </p>
    </div>
  </div>
  {% endfor %}
</div>

<div id="post_detail_pag">
  <ul id="post_detail_pag_ul" class="pagination">
    {% if comments_current_page.has_previous %}
    <li><a class="page_button" href="?page={{ comments_current_page.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in comments_current_page.paginator.page_range %}
    {% if comments_current_page.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a class="page_button" href="?page={{ i }}" >{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if comments_current_page.has_next %}
    <li><a class="page_button" href="?page={{ comments_current_page.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
