{% load widget_tweaks %}
<div class="modal-wrapper">
  <div class="modal">
    <button type="button" class="button button--modal transparent js-modal-close"><span class="fa fa-times" aria-hidden="true"></span></button>

    <div id="js-signup-tab">
        <h2 class="mb--m text-center">Join Viz today.</h2>
        <form class="mb--m" method="POST" action="/users/">
          {% csrf_token %}
          <div class="input-wrapper mb--s">
            <input id="id_username" class="pd--s w--100p" maxlength="150" name="username" type="text" required="" placeholder="Username">
          </div>
          <div class="input-wrapper mb--s">
            <input id="id_email" class="pd--s w--100p" maxlength="254" name="email" type="email" required="" placeholder="Email">
          </div>
          <div class="input-wrapper mb--s">
            <input id="id_password" class="pd--s w--100p" maxlength="128" name="password" type="password" required="" placeholder="Password">
          </div>
          <button type="submit" class="button button--primary w--100p transparent mb--s">Sign up</button>
          <p>By signing up, you agree to the <a href="#" class="transparent clr--primary">Terms of Service</a> and <a href="#" class="transparent clr--primary">Privacy Policy</a>, including <a href="#" class="transparent clr--primary">Cookie Use</a>. </p>
        </form>

      <div class="flex">
        <span class="mr--s">Have an account?</span>
        <button type="button" id="js-login-tab-toggle" class="button transparent pd-zero clr--primary">Log in</button>
      </div>
    </div>

    <div class="tab hidden" id="js-login-tab">
      <div class="mb--m">
          <h2 class="text-center">Log in To Viz</h2>
      </div>
      <div class="mb--m">
        <form method="post" action="/login/?next={{ url }}">
          {% csrf_token %}
          <div class="input-wrapper mb--s">
              {{ loginform.username|attr:"placeholder:Username"|add_class:"input" }}
          </div>
          <div class="input-wrapper mb--s">
              {{ loginform.password|attr:"placeholder:Password"|attr:"type:password"|add_class:"input" }}
          </div>
          <button type="submit" class="button button--block button--primary transparent">Log in</button>
        </form>
      </div>
      <div class="flex">
        <span class="mr--xs">New to Viz?</span>
        <button type="button" id="js-signup-tab-toggle" class="button transparent pd-zero clr--primary">Sign up</button>
      </div>
    </div>
  </div>
</div>


<div id="js-delete-modal" class="modal-wrapper hidden">
  <div class="modal pd--l">
    <button type="button" class="button button--modal transparent js-modal-close"><span class="fa fa-times" aria-hidden="true"></span></button>
    <div class="modal__header mb--m">
      <h3>Delete Post?</h3>
    </div>
    <div class="modal__body mb--m">
      <p>Are you sure you want to delete this post?</p>
    </div>
    <div class="modal__footer">
      <div class="flex flex--end">
        <button type="button" class="button transparent mr--s js-modal-close">Cancel</button>
        <button type="button" id="js-delete-post" class="button button--primary transparent">Delete Post</button>
      </div>
    </div>
  </div>
</div>
