{% load widget_tweaks %}
{% load custom_tags %}
<div class="ContentItem-comments-body">
  {% for comment in current_page %}
  <div class="ContentItem-CommentItem">
    <div class="CommentItem-meta">
      <span class="CommentItem-avatar">
        <a href="{% url 'profiles:profile_activity' id=comment.user.profile.id slug=comment.user.profile.slug %}">
          <img src="{{comment.user.profile.avatar.url}}">
        </a>
      </span>
      <span><a href="{% url 'profiles:profile_activity' id=comment.user.profile.id slug=comment.user.profile.slug %}">{{comment.user.username }}</a></span>
      <span class="CommentItem-time">{{ comment.date_created|timesince }} ago</span>

    </div>
    <div class="CommentItem-content" >
      <p>{{comment.content}}</p>
    </div>
    <div class="CommentItem-actions">
      <button type="button" class="btn btn-plain CommentItem-likebtn"><span class="glyphicon glyphicon-thumbs-up Icon" aria-hidden="true"></span> <span class="CommentItem-actions-likers-count">{{ post.likes }}</span></button>
      <button type="button" class="btn btn-plain ContentItem-action"><span class="glyphicon glyphicon-thumbs-down Icon" aria-hidden="true"></span> <span class="CommentItem-actions-likers-count">{{ post.likes }}</span></button>
      <button type="button" class="btn btn-plain ContentItem-action"><span class="glyphicon glyphicon-share-alt Icon" aria-hidden="true"></span> <span class="CommentItem-actions-likers-count">{{ post.likes }}</span></button>

    </div>
  </div>
  {% endfor %}
  <div class="Pagination">
    {% if current_page.has_previous %}
    <button type="button" class="btn btn-plain btn-pagination" data-url="{{post.get_absolute_url}}comments/?page={{ current_page.previous_page_number }}">Prev</button>
    {% endif %}
    {% for i in current_page.paginator.page_range %}
    {% if current_page.number == i %}
    <button type="button" class="btn btn-plain btn-pagination btn-pagination-current btn-pagination-disabled">{{ i }}</button>
    {% else %}
    <button type="button" class="btn btn-plain btn-pagination" data-url="{{post.get_absolute_url}}comments/?page={{ i  }}">{{ i }}</button>
    {% endif %}
    {% endfor %}
    {% if current_page.has_next %}
    <button type="button" class="btn btn-plain btn-pagination" data-url="{{post.get_absolute_url}}comments/?page={{ current_page.next_page_number }}">Next</button>
    {% endif %}
  </ul>
</div>
</div>
