{% load widget_tweaks %}
{% load custom_tags %}
<div class="ContentItem-comments-container">
  <div class="ContentItem-comments-topbar">

      <div class="ContentItem-comments-topbar-title"><h2><span class="ContentItem-comments-topbar-title-comments-count">{{ comments_count }}</span> Comments</h2></div>
      <div class="ContentItem-comments-topbar-options">
        <button type="button" class="btn btn-plain">Link</button>
      </div>

  </div>

  {% include "post_comments_collapse_body.html" %}

  <div class="ContentItem-comments-footer">
    <form method="post" class="ContentItem-comments-form">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      <!-- Button trigger modal -->
      <div>
        <textarea class="form-control ContentItem-comments-form-textfield" placeholder="Leave a commment." required></textarea>

        {% if form.content.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.content.errors }}
        </div>
        {% endif %}
        {% if form.content.help_text %}
        <p class="help-block">{{ form.content.help_text|safe }}</p>
        {% endif %}
      </div>

      <div class="collapse ContentItem-comments-form-collapse">
        <div class="ContentItem-comments-form-collapse-inner">
        <button class="btn btn-plain btn-ContentItem-comments-form-cancel">Cancel</button>
        <button type="submit" class="btn btn-submit">{{ submit_button_text }}</button>
      </div>
      </div>
    </form>
</div>
</div>
