{% load widget_tweaks %}
<div class="modal">
  <div class="modal-wrapper">
    <button type="button" class="button button--modalclose js-modal-close"><span class="fa fa-times" aria-hidden="true"></span></button>
    <div class="modal-header">
      <div class="item">
        <div class="item-header">
        <div class="img-wrapper--xs margin--right">
          <a class="link--absolute" href="{% url 'profiles:profile_activity' id=request.user.id slug=request.user.profile.slug %}"></a>
          <img src="{{ request.user.profile.avatar.url}}" class="img--cover" alt="User Avatar">
        </div>
        <div>
          <a class="link--card" href="{% url 'profiles:profile_activity' id=request.user.id slug=request.user.profile.slug %}">{{ request.user.username}}</a>
        </div>
  </div>
</div>
    </div>
    <div class="modal-body">
      <div class="form">
        <form method="post" action="#" id="js-post-create-form">
          {% csrf_token %}
          <div class="form-field">
            {{ form.title.errors }}
              {{ form.title|add_class:"input--card"|add_class:"js-add-focus"|attr:"placeholder:Title"  }}
          </div>
          <div class="form-field">
            {{ form.content.errors }}
              {{ form.content|attr:"rows:3"|attr:"cols:20"|add_class:"textarea--card"|add_class:"js-add-focus"|attr:"placeholder:Your text here" }}
          </div>
          <div class="form-field">
            {{ form.topic.errors }}
              {{ form.topic }}
          </div>
          <button type="submit" class="hidden" id="js-submit-button"></button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-flex-right">
        <div class="button-split-group">
          <button type="button" class="button" id="js-post-create"><span id="js-post-create-action">Post</span></button>
          <button type="button" class="button" id="js-pop-menu-toggle"><span class="fa fa-chevron-down" aria-hidden="true"></span></button>
          <div class="pop-menu hidden" id="js-pop-menu">
            <ul class="select">
              <li class="select-option js-select-option" data-action="Post"><span>Post now</span></li>
              <li class="select-option js-select-option" data-action="Save draft"><span>Save as draft</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
