{% extends "base.html" %}
{% load static %}

{% block title %}post list{% endblock title %}

{% block body %}

{% for post in posts %}
  <ul>
    <!-- <a href='/posts/{{ post.id }}/'><li>{{ post.title }}</li></a>  -->
    <!-- <a href='{% url "posts:post_detail" id=post.id %}'><li>{{ post.title }}</li></a> -->
    <a href='{{ post.get_absolute_url }}'><li>{{ post.title }}</li></a>
    <li>{{ post.content }}</li>
  </ul>
{% endfor %}

<img src="{% static "img_fjords.jpg" %}" alt="Smiley face" height="500" width="500">
{% endblock body %}
