{% load widget_tweaks %}
{% load custom_tags %}
<div class="modal fade"tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-closeModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{post.likes}} people liked this post.</h4>
      </div>
      <div class="modal-body">
        {% if no_likers == False %}
        <div >
          {% for profile in current_page %}
          <div class="list_item">
      <div class="ContentItem" data-url="{{profile.get_absolute_url}}">
        <div class="ContentItem_modal_main">
          <div class="ContentItem_modal_avatar">
            <a href="{% url 'profiles:profile_activity' id=profile.id slug=profile.slug %}">
          <img src="{{profile.avatar.url}}">
        </a>
          </div>
          <div class="ContentItem_modal_meta">
            <div class="ContentItem-modal-meta-title">
              <h2><span>{{ profile.user.username }}</span></h2>
            </div>
            <div class="ContentItem-modal-meta-status">
              <span class="ContentItem-modal-meta-StatusItem">{{ profile.get_posts_count }} Posts</span>
              <span class="ContentItem-modal-meta-StatusItem">{{ profile.get_comments_count }} Comments</span>
              <span class="ContentItem-modal-meta-StatusItem">{{ profile.get_followers_count }} Followers</span>
            </div>
          </div>

          <div class="ContentItem_modal_follow">
            <button type="button" class="btn btn-follow like_button {% if user_posts_like_status|index:forloop.counter0 == "Liked" %}active{% endif %}"  {% if disabled_buttons_status|index:forloop.counter0 == "Disabled" %}disabled="disabled"{% endif %} }><span class="glyphicon glyphicon-thumbs-up Icon" aria-hidden="true"></span> <span class="ContentItem_actions_likers_count">{{ post.likes }}</span></button>
          </div>
        </div>




      </div>
    </div>

          {% endfor %}
          {% if is_more %}
          <div class="post_likers_more_container" id="post_likers_more_container" data-nextpage="{{ next_page }}">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="post_likers_more_button">See More</button>
          </div>
          {% endif %}
        </div>


        {% else %}
        <div>
          <p>0 people liked this post.</p>
        </div>
        {% endif %}

      </div>

    </div>
  </div>
</div>
