{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ post.title }}{% endblock title %}

{% block body %}
<div class="section">
  <div class="container">
    {% include "alert.html" %}
    <div class="flex">
        <a href="{{ post.user.profile.get_absolute_url }}" class="mr--s"><img src="{{ post.user.profile.avatar.url}}" class="avatar--s"></a>
        <a href="{{ post.user.profile.get_absolute_url }}">{{ post.user.username }}</a>
    </div>
    <div>
      {{ post.title }}
    </div>

    <div>
      {{ post.content }}
    </div>




  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card__body">
      <div class="contentitem" data-url="{{ post.get_absolute_url }}" data-id="{{ post.id }}">
        <div class="contentitem-item">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </div>
        <div class="contentitem-item contentitem-item-flex">
          <div class="avatar--small spaceright--large">
            <a class="avatar__action" href="{% url 'profiles:profile_activity' id=post.user.id slug=post.user.profile.slug %}"></a>
            <img class="img--cover imgborder--small" src="{{ post.user.profile.avatar.url }}">
          </div>
          <div>
            <div>
              <a href="{% url 'profiles:profile_activity' id=post.user.id slug=post.user.profile.slug %}">{{ post.user.username }}</a>
            </div>
            <div>
              {% if post.user.profile.credential %}<span>{{ post.user.profile.credential }}</span>{% endif %}
            </div>
          </div>
        </div>
        <div class="contentitem-item">
          <div>{{ post.content }}</div>
        </div>
        <div class="contentitem-item">
          <a href="{{ post.topic.get_absolute_url }}">{{ post.topic }}</a>
        </div>
        <div class="contentitem-item">
          <a href="{{ post.get_absolute_url }}">Published {{ post.date_published }}</a>
        </div>
        <div class="contentitem-item">
          <button type="button" class="button button--blue {% if liked_post %}button--active{% endif %} {% if not request.user.is_authenticated %}js-get-login-modal{% endif %} {% if request.user.is_authenticated and request.user != user %}js-post-like{% endif %}" {% if request.user == user %}disabled{% endif %}><span class="fa fa-thumbs-o-up spaceright--small" aria-hidden="true"></span><span>{{ post.likes }}<span></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block javascript %}
<script src="{% static "js/post_detail.js" %}"></script>
{% endblock javascript %}
