<div id="js-delete-modal" class="modal-wrapper hidden">
  <div class="modal pd--l">
    <button type="button" class="button button--modal transparent js-delete-modal-close"><span class="fa fa-times" aria-hidden="true"></span></button>
    <div class="modal__header mb--m">
      <h3>Delete Post?</h3>
    </div>
    <div class="modal__body mb--m">
      <p>Are you sure you want to delete this post?</p>
    </div>
    <div class="modal__footer">
      <div class="flex flex--end">
        <button type="button" class="button transparent mr--s js-delete-modal-close">Cancel</button>
        <button type="button" id="js-delete-post" class="button button--primary transparent">Delete Post</button>
      </div>
    </div>
  </div>
</div>
