{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Home - Viz{% endblock title %}
{% block body %}
<div class="container">


  <div class="card">
    <ul class="card__nav">
      <li role="presentation"><a href="{% url 'home' %}" role="tab" class="link--nav link--active">Featured</a></li>
      {% for topic in topics %}
      <li role="presentation"><a href="{{ topic.get_absolute_url }}" role="tab" class="link--nav">{{ topic.topic }}</a></li>
      {% endfor %}
    </ul>
  </div>


  
  <div class="card">
    <div class="card__body">

      {% if posts_count == 0 %}
      <div class="listitem">
        <h3>There are 0 posts.</h3>
      </div>
      {% else %}
      {% for post in current_page %}
      <div class="listitem">
        <div class="contentitem" data-url="{{ post.get_absolute_url }}">
          <div class="contentitem-item">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </div>
          <div class="contentitem-item contentitem-item-flex">
            <div class="avatar--small spaceright--large">
              <a class="avatar__action" href="{% url 'profiles:profile_activity' id=post.user.id slug=post.user.profile.slug %}"></a>
              <img class="img--cover imgborder--small" src="{{ post.user.profile.avatar.url }}">
            </div>
            <div>
              <div>
                <a href="{% url 'profiles:profile_activity' id=post.user.id slug=post.user.profile.slug %}">{{ post.user.username }}</a>
              </div>
              <div>
                {% if post.user.profile.credential %}<span>{{ post.user.profile.credential }}</span>{% endif %}
              </div>
            </div>
          </div>
          <div class="contentitem-item">
            <div>{{ post.content }}</div>
          </div>
          <div class="contentitem-item">
            <a href="{{ post.topic.get_absolute_url }}">{{ post.topic }}</a>
          </div>
          <div class="contentitem-item">
            <a href="{{ post.get_absolute_url }}">Published {{ post.date_published }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="pagination">
        {% if current_page.has_previous %}
        <a href="?page={{ current_page.previous_page_number }}" class="pagination__link" ><span class="fa fa-angle-double-left" aria-hidden="true"></span></a>
        {% endif %}
        {% for i in current_page.paginator.page_range %}
        {% if current_page.number == i %}
        <span class="pagination__link pagination__link--active">{{ i }}</span>
        {% else %}
        <a href="?page={{ i }}" class="pagination__link">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if current_page.has_next %}
        <a class="pagination__link" href="?page={{ current_page.next_page_number }}"><span class="fa fa-angle-double-right" aria-hidden="true"></span></a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock body %}
