{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ post.title }}{% endblock title %}

{% block body %}
{% include "login_modal.html" %}
<section >
  <div class='container'>
    <div class="row">
      <div class="col-md-12">
        <div class="section">
          <div class="thumbnail" id="post_container" data-url={{post.get_absolute_url}}>
            <div class="caption">
              <p><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>
              <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
              <p><a href="{% url 'profiles:profile_activity' id=post.user.id slug=post.user.profile.slug %}">{{ post.user.username }}</a></p>
              <p>{{ post.content }}</p>
              <p><a href="{{ post.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="Published {{ post.date_published }}">Edited {{ post.date_edited }}</a></p>
              <p>
                <button type="button" {% if liked == True %}class="btn btn-primary"{%else%}class="btn btn-link"{% endif %} id="like_button" {% if is_user == True %}disabled="disabled"{% endif %} data-liked="false"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span id="post_likes_count">{{ post.likes }}</span></button>
                <button type="button" class="btn btn-link" id="dislike_button" {% if is_user == True %}disabled="disabled"{% endif %} data-disliked="false"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span id="post_dislikes_count">{{ post.dislikes }}</span></button>
                <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                sagittis lacus vel augue laoreet rutrum faucibus."><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</button>
                <button type="button" class="btn btn-link" id='bookmark_button' ><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmark</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="section">
          {% include "post_detail_page.html" %}
        </div>

      </div>
    </div>
  </div>

</section>
{% endblock body %}

{% block javascript %}
<script>

// Feature 1
$(document).on('click', '#like_button', function(event) {
  event.preventDefault();
  var element = $(this);
  var url = $(element).parents("#post_container").attr("data-url");
  if ($("#logged_in").data("logged-in")== true) {

      $.ajax({  // ajax GET to like post
        url:url + "like",
        success:function(data) {
          status = data.status;
          if (status == "unliked") {
            $("#like_button").attr("class","btn btn-link");
          }
          else{
            $("#like_button").attr("class","btn btn-primary");
          }
          $("#post_likes_count").html(data.likes_count);


        }
      })
  }
  else{
    $('#myModal').modal()
  }
});


// Feature 2
$(document).on('click', '#dislike_button', function(event) {
  event.preventDefault();
  var element = $(this);
  if ($("#logged_in").data("logged-in")== true) {
    if($(element).data("disliked")==false){
      $.ajax({
        url:window.location.href + "dislike",
        success:function(data) {
          $(element).html('<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> ' + data.dislikes_count);
          $(element).data("disliked",true);
        }
      })
    }
    else{
      $.ajax({
        url:window.location.href + "dislike",
        data:{ undislike: "undislike" },
        success:function(data) {
          $(element).html('<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> ' + data.dislikes_count);
          $(element).data("disliked",false);
        }
      })
    }
  }
  else{
    $('#myModal').modal()
  }
});

// Feature 3 Open comment form buttons or modal
$(document).on('click', '#comment_form_textfield', function(event) {
  event.preventDefault();
  var element = $(this);
  if ($("#logged_in").data("logged-in")== true) {
    $("#comment_form_collapse").collapse("show");
  }
  else{
    $('#myModal').modal();
  }
});

// Feature 4 Close comment form buttons
$(document).on('click', '#comment_form_close_button', function(event) {
  event.preventDefault();
  var element = $(this);
  $("#comment_form_collapse").collapse("hide");
});


// Feature 5 Comment form
$(document).on('submit', '#comment_form', function(event) {
  event.preventDefault();
  var element = $(this);
  var method = $(element).attr('method');
  var url = $(element).attr('action');

  $.ajax({  // ajax POST to save comment
    method: method,
    url: url,
    data: {
      content: $("#comment_form_textfield").val(),
      csrfmiddlewaretoken:'{{ csrf_token }}',
    },
    success:function(data) {
      var message = data.message;

      $.ajax({     // ajax GET to get first page
        url: url,
        success:function(data) {
          $("#post_detail_page").replaceWith(data);
          $('#post_detail_page_header').after(make_message(message));
        }});
      },
    });
  });

  // Feature 6 Go to nth page
  $(document).on('click', '.page_button', function() {
    event.preventDefault();
    var element = $(this);
    var url = $(element).attr("href");
    $.ajax({     // ajax GET to get nth page
      url: url,
      success:function(data) {
        $("#post_detail_page").replaceWith(data);
      }});
    });

    </script>
    {% endblock %}
