{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block post-status %}
<div>
  <span class="mr--xs">Draft</span>
  <span id="save-status"></span>
</div>
{% endblock post-status %}

{% block nav-v-tags %}
{% endblock nav-v-tags %}
{% block nav-tags %}
{% endblock nav-tags %}

ddd

{% block body %}
<div class="section">
  <div class="container">
    <div id="post-create" class="mg--center">
      <form id="form">
        {% csrf_token %}
          <div class="input-wrapper mb--m">
            {{ form.title|attr:"placeholder:Title"|add_class:"input focus--disabled borderless ft--32"  }}
          </div>
          <div class="input-wrapper mb--m">
            {{ form.content}}
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock body %}

{% block javascript %}
<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
<script src="{% static "js/post_create.js" %}"></script>
<script src="{% static "js/tinymce.js" %}"></script>

{% endblock javascript %}
