{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card__body">
      <div class="form">
        <form method="post" action="/posts/create/">
          <div class="formtitle">
            <h3>Create Post</h3>
          </div>
          {% csrf_token %}
          <div class="formfield">
            {{ form.title.errors }}
            <div class="formfield__label">
              <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            </div>
            <div class="formfield__input ">
              {{ form.title|add_class:"js-add-focus"|attr:"placeholder:Title"  }}
            </div>
          </div>

          <div class="formfield">
            {{ form.content.errors }}
            <div class="formfield__label">
              <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
            </div>
            <div class="formfield__input ">
              {{ form.content|attr:"rows:3"|attr:"cols:20"|add_class:"js-add-focus"|attr:"placeholder:Content" }}
            </div>
          </div>

          <div class="formfield">
            {{ form.category.errors }}
            <div class="formfield__label">
              <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
            </div>
            <div class="formfield__noninput">
              {{ form.category }}
            </div>
          </div>

          <button type="submit" class="button button--blue button--primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block javascript %}
<script src="{% static "js/post_create.js" %}"></script>
{% endblock javascript %}
