{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block nav-v-tags %}
{% endblock nav-v-tags %}
{% block nav-tags %}
{% endblock nav-tags %}

{% block body %}
<div class="section">
  <div class="container">
    <div id="post-create" class="mg--center">
      <form method="POST">
        {% csrf_token %}
          <div class="input-wrapper mb--m">
            {{ form.title|attr:"placeholder:Title"|attr:"id:input"|add_class:"input focus--disabled ft--32 pd--s bd"  }}
            <!-- <span id="js-alert-title" class="hidden">Title can't be blank.</span> -->
          </div>
          <div class="input-wrapper mb--m">
            <!-- <span class="hidden">Content can't be blank.</span> -->
            {{ form.content|add_class:"js-textarea"|attr:"id:textarea" }}

          </div>
          <div class="flex">
            <button type="submit" name="draft" class="button button--primary mr--s js-submit">Save draft</button>
            <button type="submit" class="button button--primary js-submit">Publish</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}

{% block javascript %}
<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
<script src="{% static "js/post_create.js" %}"></script>
{% endblock javascript %}
