{% load widget_tweaks %}
{% load custom_tags %}
<div class="modal fade"tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="{{post.get_absolute_url}}" data-nextpage="{{next_page}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="ContentItem-modal-header">
        <div class="ContentItem-modal-header-title"><span>{{post.likes}} people liked this post.</span></div>
        <button type="button" class="btn btn-closeModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      {% if no_likers == False %}
      {% include "post_likers_modal_page.html" %}


      {% else %}
      <div>
        <p>0 people liked this post.</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
