{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<div id="profile_base" data-user-profile-url="{{user_profile_url}}">
  <div class="container">
    <div class="row" >
      <div class="col-md-12">
        <div class="section">
          <div class="row">
            <div class="col-md-3">
              <div>
                <img src="{{ user.profile.avatar.url }}" class="img-responsive img-thumbnail" alt="Responsive image" width="168px" height="168px">
              </div>
            </div>
            <div class="col-md-3">

              <div >
                <h1 id="profile_base_username">{{ user }}</h1>
                {% if user.profile.position %}
                <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{ user.profile.position }}</p>
                {% endif %}

                {% if user.profile.company %}
                <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{ user.profile.company }}</p>
                {% endif %}

                {% if user.profile.school %}
                <p><span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ user.profile.school }}</p>
                {% endif %}

                {% if user.profile.concentration %}
                <p><span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ user.profile.concentration }}</p>
                {% endif %}

                {% if user.profile.degree_type %}
                <p><span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ user.profile.degree_type }}</p>
                {% endif %}

              </div>
              {% if user_status == "user" %}
              <div >
                <a class="btn btn-primary" href="{% url 'profiles:profile_edit' id=user.id slug=user.profile.slug %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Profile</a>
              </div>
              {% endif %}


              <div >
                {% if user_follow_status != "self" %}<button type="button" class="btn btn-primary user_follow_button">{{ user_follow_status }}</button>{% endif %}

                {% if user_message_status != "self" %}<button type="button" class="btn btn-primary">{{ user_message_status }}</button>{% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="Card">
        <div class="Card-header">
          <h4 class="Card-header-title">Feeds</h4>
        </div>
        {% block vertical_nav %}
        {% endblock vertical_nav %}
      </div>
      </div>
      <div class="col-md-7">
        <div class="Card">
        {% block content %}
        {% endblock content %}
      </div>
      </div>
      <div class="col-md-3">

        <div class="Card">
          <h1>text</h1>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock body %}

{% block javascript %}
<script src="{% static "js/profile_base.js" %}"></script>

{% endblock javascript %}
