{% extends "profile_posts.html" %}

{% block title %}{{ request.user.username}}'s Drafts{% endblock title %}


{% block posts_drafts %}
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="{% url 'profiles:profile_drafts' id=request.user.id slug=request.user.profile.slug  %}" aria-controls="home" role="tab" >Drafts</a></li>
    <li role="presentation"><a href="{% url 'profiles:profile_posts' id=request.user.id slug=request.user.profile.slug  %}" aria-controls="profile" role="tab" >Posts</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" >
      <div class="page-header">
        <h5>{{ title }}</h5>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane">...</div>

  </div>

</div>

{% endblock posts_drafts %}
