<div class="modal">
  <div class="modal__wrapper">
    <button type="button" class="button button--modalclose js-modal-close"><span class="fa fa-times" aria-hidden="true"></span></button>
    <div class="modal__header">
      <h3>Edit Background</h3>
    </div>
    <div class="modal__body">
      <canvas class="modal__canvas" id="modal__canvas" width="150" height="150"></canvas>
    </div>
    <div class="modal__footer">
      <div class="modal__buttongroup">
      <button type="button" class="button button--plain js-modal-close spaceright--small">Cancel</button>
      <button type="button" id="js-profile-background-submit" class="button button--blue button--primary">Save</button>
    </div>
    </div>
  </div>
</div>
