{% extends "profile_base.html" %}
{% load widget_tweaks %}

{% block title %}{{ user }}'s {{ title }}{% endblock title %}

{% block vertical_nav %}
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="{% url 'profiles:profile_activity' id=user.id slug=user.profile.slug  %}" role="tab" >Activity</a></li>
  <li role="presentation"><a href="{% url 'profiles:profile_posts' id=user.id slug=user.profile.slug  %}" role="tab" >Posts <span id="profile_nav_posts_count">{{posts_count}}</span></a></li>
  <li role="presentation" class="active"><a href="{% url 'profiles:profile_drafts' id=user.id slug=user.profile.slug  %}" role="tab" >Drafts <span id="profile_nav_drafts_count">{{drafts_count}}</span></a></li>
  <li role="presentation"><a href="{% url 'profiles:profile_comments' id=user.id slug=user.profile.slug  %}" role="tab">Comments</a></li>
  <li role="presentation"><a href="{% url 'profiles:profile_bookmarks' id=user.id slug=user.profile.slug  %}" role="tab">Bookmark</a></li>
  <li role="presentation"><a href="{% url 'profiles:profile_following' id=user.id slug=user.profile.slug  %}" role="tab">Following</a></li>
  <li role="presentation"><a href="{% url 'profiles:profile_followers' id=user.id slug=user.profile.slug  %}" role="tab">Followers</a></li>
</ul>
{% endblock vertical_nav %}


{% block content %}
{% include "login_modal.html" %}
{% include "profile_drafts_page.html" %}
{% endblock content %}

{% block javascript %}
<script>

// Feature 1 Open delete draft modal
$(document).on('click', '.delete_button', function(event) {
  event.preventDefault();
  var element = $(this);
  var id = $(element).parents(".thumbnail_container").attr("data-id");
  $('#profile_drafts_modal_'+id).modal();
});


// Feature 2 Delete draft and show current page with updated results
$(document).on('click', '.confirm_delete_button', function(event) {
  event.preventDefault();
  var element = $(this);
  var id = $(element).parents(".thumbnail_container").attr("data-id");
  var url = $(element).parents(".thumbnail_container").attr("data-url");
  var pageurl= $(element).parents("#profile_drafts_page").attr("data-pageurl");
  $('#profile_drafts_modal_'+id).modal('hide');
  $.ajax({  // send GET request to delete post
    url:url+"delete",
    success:function(data) {
      var message = data.message;
      $.ajax({
        url: pageurl, // send GET request to current url
        success:function(data) {
          $("#profile_drafts_page").replaceWith(data);
          $("#profile_nav_drafts_count").html($("#profile_drafts_count").html());
          $('#profile_drafts_page_header').after(make_message(message));
        }});
      }
    })

  });

  // Feature 3 Get nth page of paginated drafts
  $(document).on('click', '.profile_drafts_page_button', function() {
    event.preventDefault();
    var element = $(this);
    var url = $(element).attr("href");
    $.ajax({     // send get request to get nth page
      url: url,
      success:function(data) {
        $("#profile_drafts_page").replaceWith(data);
      }});
    });

    // Feature 4 Filter
    $(document).on('click', '.filter_button', function() {
      event.preventDefault();
      var element = $(this);
      var option = $(element).attr("data-option");
      var pageurl= $(element).parents("#profile_drafts_page").attr("data-pageurl");

      $.ajax({     // send get request to get nth page
        url: pageurl,
        data: {option:option},
        success:function(data) {
          $("#profile_drafts_page").replaceWith(data);
        }});
      });
    </script>
    {% endblock javascript %}
