{% extends "profile_base.html" %}
{% load widget_tweaks %}
{% block profile %}
<div class="container profile-form">
  <div class="card">
    <div class="card__background">
      <div class="background__wrapper">
      <button type="button" class="button button--gray profile-background-edit js-profile-background-edit"><span class="fa fa-camera icon--left" aria-hidden="true"></span>Edit background</button>
      <form enctype="multipart/form-data" class="hidden js-profile-background-form">
        {% csrf_token %}
      </form>
      <input class="js-profile-background-field hidden" name="background" type="file" accept="image/jpeg">
    </div>
    <img src="{{ user.profile.background.url }}" class="profile-background js-profile-background" alt="Profile Background">

    </div>

    <div class="card__body">
      <div class="avatar__wrapper">
        <div class="avatar avatar--edit js-profile-avatar-edit">
          <img src="{{ user.profile.avatar.url }}" class="profile-avatar js-profile-avatar" alt="Profile Avatar">
          <div class="avatar__mask">
            <div class="avatar__maskinner">
              <span class="fa fa-camera" aria-hidden="true"></span>
              <h4>Edit avatar</h4>
            </div>
          </div>
          <form enctype="multipart/form-data" class="hidden js-profile-avatar-form">
            {% csrf_token %}
          </form >
          <input class="js-profile-avatar-field hidden" name="avatar" type="file" accept="image/jpeg">
        </div>
      </div>

      <div class="card__content">
        <div class="card__contentitem">
          <h1>{{user.username}}</h1>
        </div>

        <div class="card__contentitem last">
          <a href="{% url 'profiles:profile_activity' id=user.id slug=user.profile.slug %}" class="link--blue">Back to Profile<span class="fa fa-angle-right icon--right" aria-hidden="true"></span></a>
      </div>
      </div>

      <div class="form">
        <form class="js-profile-form">
          {% csrf_token %}

          <div class="formfield">
            {{ profileform.profile_gender.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_gender.id_for_label }}">{{ profileform.profile_gender.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__noninput">
                {{ profileform.profile_gender }}
            </div>
          </div>

          <div class="formfield">
            {{ profileform.profile_credential.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_credential.id_for_label }}">{{ profileform.profile_credential.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__input ">

                {{ profileform.profile_credential|add_class:"js-add-focus"|attr:"placeholder:Credential"  }}

            </div>
          </div>

          <div class="formfield">
            {{ profileform.profile_description.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_description.id_for_label }}">{{ profileform.profile_description.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__input ">

                {{ profileform.profile_description|attr:"rows:3"|attr:"cols:20"|add_class:"js-add-focus"|attr:"placeholder:Description" }}

            </div>
          </div>

          <div class="formfield">
            {{ profileform.profile_residence.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_residence.id_for_label }}">{{ profileform.profile_residence.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__noninput">
                {{ profileform.profile_residence }}
            </div>
          </div>

          <div class="formfield">
            {{ profileform.profile_occupation.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_occupation.id_for_label }}">{{ profileform.profile_occupation.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__noninput">
                {{ profileform.profile_occupation }}
            </div>
          </div>

          <div class="formfield">
            {{ profileform.profile_position.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_position.id_for_label }}">{{ profileform.profile_position.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__input ">
                {{ profileform.profile_position|add_class:"js-add-focus"|attr:"placeholder:Position" }}
            </div>

          </div>

          <div class="formfield">
            {{ profileform.profile_company.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_company.id_for_label }}">{{ profileform.profile_company.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__input ">

                {{ profileform.profile_company|add_class:"js-add-focus"|attr:"placeholder:Company" }}

            </div>

          </div>

          <div class="formfield">
            {{ profileform.profile_school.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_school.id_for_label }}">{{ profileform.profile_school.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__input ">

                {{ profileform.profile_school|add_class:"js-add-focus"|attr:"placeholder:School" }}

            </div>

          </div>

          <div class="formfield">
            {{ profileform.profile_major.errors }}
            <div class="formfield__label">
              <label for="{{ profileform.profile_major.id_for_label }}">{{ profileform.profile_major.label|cut:"Profile "|capfirst }}</label>
            </div>
            <div class="formfield__input ">

                {{ profileform.profile_major|add_class:"js-add-focus"|attr:"placeholder:Major" }}

            </div>

          </div>

          <button type="submit" class="button button--blue button--primary">Save</button>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock profile %}
