{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<div id="profile_base" data-user-profile-url="{{user_profile_url}}">
  <div class="container">
    <div class="row" >
      <div class="col-md-12">
        <div class="Card">
          <div class="profile-cover">
          </div>

          <div class="profile-body">
            <div class="profile-avatar">
              <img src="{{ user.profile.avatar.url }}" class="img-responsive Avatar Avatar-large" alt="Responsive image">
            </div>

            <div class="profile-content">
              <div class="profile-contentHeader">
                <h1>{{user.username}}</h1>
              </div>
              <div class="profile-contentBody">
                <div class="profile-contentBodyItem">
                  <span></span>
                </div>
                <div class="profile-contentBodyItem">

                </div>
                <div>
                </div>
                aaa
              </div>
              <div class="profile-contentFooter">
                aaa
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="Card">
        <div class="Card-header">
          <h4 class="Card-header-title">Feeds</h4>
        </div>
        {% block vertical_nav %}
        {% endblock vertical_nav %}
      </div>
    </div>
    <div class="col-md-7">
      <div class="Card">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <div class="col-md-3">

      <div class="Card">
        <h1>text</h1>
      </div>
    </div>
  </div>

</div>
{% endblock body %}

{% block javascript %}
<script src="{% static "js/profile_base.js" %}"></script>

{% endblock javascript %}
