{% load widget_tweaks %}
{% load custom_tags %}
<div class="list_page" id="profile_followers_page">
  <div class="page-header">
    <h4><span class="list_page_header">{{followers_count}}</span> {{ title }}</h4>
  </div>


  {% if no_followers %}
  <div>
    <p>There are no followers.</p>
  </div>

  {% else %}
  <div>
    {% for profile in current_page %}
    <div class="media list_item" data-url="{{profile.get_absolute_url}}">
      <div class="media-left">
        <a href="{% url 'profiles:profile_activity' id=profile.id slug=profile.slug %}">
          <img class="media-object list_item_avatar" src="{{profile.avatar.url}}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="{% url 'profiles:profile_activity' id=profile.id slug=profile.slug %}">{{ profile.user.username }}</a></h4>
        <div>
          <span>{{profile.user.posts.count}} Posts</span>
          <span>{{profile.user.comments.count}} Comments</span>
          <span class="list_item_followers_count">{{profile.followers.count}} Followers</span>
          <span>{{profile.following.count}} Following</span>
        </div>
      </div>
      <div class="media-left media-middle">
        {% if follow_status|index:forloop.counter0 != "" %}<button type="button" class="btn btn-primary list_item_follow_button">{{ follow_status|index:forloop.counter0 }}</button>{% endif %}
        <!-- {% if logged_in == False %}<button type="button" class="btn btn-primary following_page_follow_button">{{ follow_button_text }}</button>{% elif logged_in and follow_status|index:forloop.counter0 != "Self"%}<button type="button" class="btn btn-primary following_page_follow_button">{{ follow_status|index:forloop.counter0 }}</button>{% endif %} -->
      </div>
    </div>
    {% endfor %}
  </div>

  <div>
    <ul class="pagination">
      {% if current_page.has_previous %}
      <li><a class="page_button" href="?page={{ current_page.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in current_page.paginator.page_range %}
      {% if current_page.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a class="page_button" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if current_page.has_next %}
      <li><a class="page_button" href="?page={{ current_page.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>
