{% load widget_tweaks %}
{% load custom_tags %}
<div class="List-body">

  {% for post in current_page %}
  <div class="List-item {% if forloop.last %}List-item-last{% endif %}">
    <div class="ContentItem" data-url="{{post.get_absolute_url}}">
      <div class="ContentItem-header">
        <h2 class="ContentItem-header-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      </div>
      <div class="ContentItem-meta">
          <div class="ContentItem-avatar">
            <a href="{% url 'profiles:profile_activity' id=user.profile.id slug=user.profile.slug %}">
              <img class="Avatar Avatar-medium" src="{{user.profile.avatar.url}}">
            </a>
          </div>

          <div class="ContentItem-profile">
            <div class="ContentItem-profilelink">
              <span><a href="{% url 'profiles:profile_activity' id=user.profile.id slug=user.profile.slug %}">{{user.username }}</a></span>
            </div>
            <div class="ContentItem-profileinfo">
              <span >banking</span>
            </div>
          </div>

        </div>

      <div class="ContentItem-likers">
        <button type="button" class="btn btn-plain btn-ContentItem-likers-count"><span class="ContentItem-likers-count">{{post.likes}} people liked this post.</span></button>
      </div>
      <div class="ContentItem-content">
        <div class="ContentItem-contenttext">{{ post.content|truncatewords:100|linebreaks }}</div>
        <div class="ContentItem-time collapse"><a href="{{ post.get_absolute_url }}">Published {{ post.date_published }}</a></div>
      </div>
      <div class="ContentItem-actions">
        
      </div>
    </div>
          </div>
  {% endfor %}


    {% if is_pagination %}
    <div class="Pagination">
      {% if current_page.has_previous %}
      <button type="button" class="btn btn-plain btn-pagination" data-url="{{user_profile_url}}posts/?page={{ current_page.previous_page_number }}">Prev</button>
      {% endif %}

      {% for i in page_num %}
      {% if i == current_page.number %}
      <button type="button" class="btn btn-plain btn-pagination-disabled">{{ i }}</button>
      {% elif i == -1 %}
      <button type="button" class="btn btn-plain btn-pagination-more">..</button>
      {% else %}
      <button type="button" class="btn btn-plain btn-pagination" data-url="{{user_profile_url}}posts/?page={{ i }}">{{ i }}</button>
      {% endif %}
      {% endfor %}

      {% if current_page.has_next %}
      <button type="button" class="btn btn-plain btn-pagination" data-url="{{user_profile_url}}posts/?page={{ current_page.next_page_number }}">Next</button>
      {% endif %}
    </div>
    {% endif %}





</div>
