{% extends "base.html" %}

{% block title %}post list{% endblock title %}

{% block body %}
<section >
  <div class='container'>
    <div class="row">
      <div class='col-md-8'>
        <div class="row">
          <div class='col-md-4'>
            <a href="#" class="thumbnail">
              <img src="..." alt="...">
            </a>
          </div>
          <div class='col-md-8'>
            <div class="page-header">
              <h1>Example page header </h1>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
      </div>
    </div>

    <div class="row">
      <div class='col-md-8'>
        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a></li>
            <li role="presentation"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts <span>{{posts_count}}</span></a></li>
            <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
            <li role="presentation"><a href="#bookmark" aria-controls="bookmark" role="tab" data-toggle="tab">Bookmark</a></li>
            <li role="presentation"><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
            <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="activity">
              <div class="page-header">
                <h5>Activity</h5>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="posts">
              <div class="page-header">
                <h5><span>{{posts_count}}</span> Posts</h5>
              </div>
              {% if no_posts %}
              <div>
                <p>There are no posts.</p>
              </div>
              {% else %}
              {% for post in current_page %}
              <div class="thumbnail">
                <div class="caption">
                  <p><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>
                  <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                  <p><a href="#">{{ post.user }}</a></p>
                  <p>{{ post.date_created|timesince }}</p>
                  <p>{{ post.date_created}}</p>
                  <p>{{ post.content }}</p>
                  <p>
                    <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Upvote</button>
                    <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Downvote </button>
                    <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                    sagittis lacus vel augue laoreet rutrum faucibus."><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments</button>
                    <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                    sagittis lacus vel augue laoreet rutrum faucibus."><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</button>
                    <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                    sagittis lacus vel augue laoreet rutrum faucibus."><span class="  glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmark</button>
                  </p>
                </div>
              </div>
              {% endfor %}

              <ul class="pagination">
                {% if current_page.has_previous %}
                <li><a href="?page={{ current_page.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in current_page.paginator.page_range %}
                {% if current_page.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if current_page.has_next %}
                <li><a href="?page={{ current_page.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane" id="comments">
              <div class="page-header">
                <h5>Comments</h5>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="bookmark">
              <div class="page-header">
                <h5>Bookmark</h5>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="following">
              <div class="page-header">
                <h5>Following</h5>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="followers">
              <div class="page-header">
                <h5>Followers</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
