{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block body %}
<section >
  <div class='container'>
    <div class="row">
      <div class='col-md-8'>
        <div class="row">
          <div class='col-md-3'>
            <a href="#" class="thumbnail">
              <img src="..." alt="...">
            </a>
          </div>
          <div class='col-md-9'>
            <div class="page-header">
              {{ request.user.username}}
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
      </div>
    </div>

    <div class="row">
      <div class='col-md-8'>
        <div>

          {% block nav-tabs %}
          {% endblock nav-tabs %}
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="activity">
              {% block activity %}
              {% endblock activity %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="posts">
              {% block posts %}
              {% endblock posts %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="comments">
              {% block comments %}
              {% endblock comments %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="bookmark">
              {% block bookmark %}
              {% endblock bookmark %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="following">
              {% block following %}
              {% endblock following %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="followers">
              {% block followers %}
              {% endblock followers %}
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
