
{% extends "profile_base.html" %}
{% block profile %}

{% include "profile_header.html" %}
<div class="container profile-body">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card__header">
              <div class="card__headerinner">
                <h2>Feeds</h2>
              </div>

            </div>
            <ul class="card__nav">
              <li role="presentation" class="card__navitem"><a href="{% url 'profiles:profile_activity' id=user.profile.id slug=user.profile.slug  %}" role="tab" class="js-profile-hide">Activity</a></li>
              <li role="presentation" class="card__navitem"><a href="{% url 'profiles:profile_posts' id=user.profile.id slug=user.profile.slug  %}" role="tab" >Posts <span id="profile_nav_posts_count">{{posts_count}}</span></a></li>
              <li role="presentation" class="card__navitem"><a href="{% url 'profiles:profile_drafts' id=user.profile.id slug=user.profile.slug  %}" role="tab" >Drafts <span id="profile_nav_drafts_count">{{drafts_count}}</span></a></li>
              <li role="presentation" class="card__navitem"><a href="{% url 'profiles:profile_comments' id=user.profile.id slug=user.profile.slug  %}" role="tab">Comments</a></li>
              <li role="presentation" class="card__navitem"><a href="{% url 'profiles:profile_bookmarks' id=user.profile.id slug=user.profile.slug  %}" role="tab">Bookmark</a></li>
              <li role="presentation" class="card__navitem"><a href="{% url 'profiles:profile_following' id=user.profile.id slug=user.profile.slug  %}" role="tab">Following</a></li>
              <li role="presentation" class="card__navitem"><a href="{% url 'profiles:profile_followers' id=user.profile.id slug=user.profile.slug  %}" role="tab">Followers</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-9 profile-content">
          <div class="card">
            <div class="card__header">
              <div class="card__headerinner profile-activity-header">
                <button type="button" class="button button--plain js-profile-wrapper-get"><span class="fa fa-angle-left icon--left" aria-hidden="true"></span></button>
                <h2 class="">Posts</h2>
              </div>
            </div>
            <div class="card__body">
              <div class="listitem">
              <a href="{% url 'posts:post_create' %}" class="link--blue"><span class="fa fa-pencil-square-o icon--left" aria-hidden="true"></span>Create</a>
            </div>

              {% if posts_count == 0 %}
              <div class="listitem">
                <h3>There are 0 posts.</h3>
              </div>
              {% else %}
              {% for post in current_page %}
              <div class="listitem">

                <div class="contentitem" data-url="{{post.get_absolute_url}}">
                  <div class="contentitem-item">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                  </div>
                  <div class="contentitem-item">
                    <div>
                      <a href="{% url 'profiles:profile_activity' id=user.profile.id slug=user.profile.slug %}">
                        <img class="Avatar Avatar-medium" src="{{user.profile.avatar.url}}">
                      </a>
                    </div>

                    <div >
                      <div >
                        <span><a href="{% url 'profiles:profile_activity' id=user.profile.id slug=user.profile.slug %}">{{user.username }}</a></span>
                      </div>
                      <div >
                        <span >banking</span>
                      </div>
                    </div>

                  </div>

                  <div class="contentitem-item">
                    <button type="button"><span>{{post.likes}} people liked this post.</span></button>
                  </div>
                  <div class="contentitem-item">
                    <div >{{ post.content|truncatewords:100|linebreaks }}</div>
                    <div ><a href="{{ post.get_absolute_url }}">Published {{ post.date_published }}</a></div>
                  </div>
                  <div class="contentitem-item">

                  </div>
                </div>

              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card__header">
          <div class="card__headerinner">
            <h2>Header</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock profile %}
