
{% load widget_tweaks %}
  <div class="container profile-form">
    <div class="row" >
      <div class="col-md-12">
        <div class="card">
          <div class="card__cover">
            <div class="card__form">
            <form method="post" enctype="multipart/form-data" class="js-submit-profile-background-form">
              {% csrf_token %}

              <div class="card__formfield">
                {{ profilebackgroundform.background.errors }}
                <div class="card__formfieldlabel">
                    <label for="{{ profilebackgroundform.background.id_for_label }}">{{ profilebackgroundform.background.label }}</label>
                </div>
                <div class="card__formfieldvalue">
                  <div class="card__formfieldnontextinput">
                    {{ profilebackgroundform.background }}
                  </div>
                </div>
              </div>
              <button type="submit" class="button button--blue button--primary">Save</button>
            </form >
          </div>
          </div>
          <div class="card__body">
            <div class="card__avatar">
              <img src="{{ user.profile.avatar.url }}" class="img-responsive Avatar Avatar-large" alt="Responsive image">
              <div class="card__form">
              <form method="post" enctype="multipart/form-data" class="js-submit-profile-avatar-form">
                {% csrf_token %}

                <div class="card__formfield">
                  {{ profileavatarform.avatar.errors }}
                  <div class="card__formfieldlabel">
                      <label for="{{ profileavatarform.avatar.id_for_label }}">{{ profileavatarform.avatar.label }}</label>
                  </div>
                  <div class="card__formfieldvalue">
                    <div class="card__formfieldnontextinput">
                      {{ profileavatarform.avatar }}
                    </div>
                  </div>
                </div>
                <button type="submit" class="button button--blue button--primary">Save</button>
              </form>
            </div>
            </div>
            <div class="card__content">
              <div class="card__contentheader">
                <h1>{{user.username}}</h1>
                <button type="button" class="button button-plain js-get-profile" data-url="{{ current_user_profile_url }}">Back to Profile<span class="glyphicon glyphicon-menu-right Icon Icon-right" aria-hidden="true"></span></button>

              </div>

              <div class="card__form">
                <form method="post" class="js-submit-profile-form">
                  {% csrf_token %}

                  <div class="card__formfield">
                    {{ form.profile_gender.errors }}
                    <div class="card__formfieldlabel">
                        <label for="{{ form.profile_gender.id_for_label }}">{{ form.profile_gender.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldnontextinput">
                        {{ form.profile_gender }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield">
                    {{ form.profile_credential.errors }}
                    <div class="card__formfieldlabel">
                      <label for="{{ form.profile_credential.id_for_label }}">{{ form.profile_credential.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldtextinput">
                        {{ form.profile_credential|add_class:"js-add-focus"|attr:"placeholder:Credential"  }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield">
                    {{ form.profile_description.errors }}
                    <div class="card__formfieldlabel">
                      <label for="{{ form.profile_description.id_for_label }}">{{ form.profile_description.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldtextinput">
                        {{ form.profile_description|attr:"rows:3"|attr:"cols:20"|add_class:"js-add-focus"|attr:"placeholder:Description" }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield">
                    {{ form.profile_residence.errors }}
                    <div class="card__formfieldlabel">
                        <label for="{{ form.profile_residence.id_for_label }}">{{ form.profile_residence.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldnontextinput">
                        {{ form.profile_residence }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield">
                    {{ form.profile_occupation.errors }}
                    <div class="card__formfieldlabel">
                        <label for="{{ form.profile_occupation.id_for_label }}">{{ form.profile_occupation.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldnontextinput">
                        {{ form.profile_occupation }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield">
                    {{ form.profile_position.errors }}
                    <div class="card__formfieldlabel">
                      <label for="{{ form.profile_position.id_for_label }}">{{ form.profile_position.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldtextinput">
                        {{ form.profile_position|add_class:"js-add-focus"|attr:"placeholder:Position" }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield">
                    {{ form.profile_company.errors }}
                    <div class="card__formfieldlabel">
                      <label for="{{ form.profile_company.id_for_label }}">{{ form.profile_company.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldtextinput">
                        {{ form.profile_company|add_class:"js-add-focus"|attr:"placeholder:Company" }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield">
                    {{ form.profile_school.errors }}
                    <div class="card__formfieldlabel">
                      <label for="{{ form.profile_school.id_for_label }}">{{ form.profile_school.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldtextinput">
                        {{ form.profile_school|add_class:"js-add-focus"|attr:"placeholder:School" }}
                      </div>
                    </div>
                  </div>

                  <div class="card__formfield card__formfield--last">
                    {{ form.profile_major.errors }}
                    <div class="card__formfieldlabel">
                      <label for="{{ form.profile_major.id_for_label }}">{{ form.profile_major.label }}</label>
                    </div>
                    <div class="card__formfieldvalue">
                      <div class="card__formfieldtextinput">
                        {{ form.profile_major|add_class:"js-add-focus"|attr:"placeholder:Major" }}
                      </div>
                    </div>
                  </div>

                <button type="submit" class="button button--blue button--primary">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
