{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load topic_extras %}
{% block title %}{{ topic.name|capfirst }} - Viz{% endblock title %}
{% block body %}
<div class="container">
  <div class="card">
    <div class="card__body">
      <div class="contentitem">
        <div class="contentitem-item topic-flex">
          <div class="img-wrapper--s margin-right--l">
            <a class="link--absolute" href="{{ topic.get_absolute_url }}"></a>
            <img class="img--cover img-border--s" src="{{ topic.image.url }}">
          </div>
          <h5>{{ topic.name|capfirst }}</h5>
        </div>
      </div>
    </div>
  </div>

  {% for post in topic_posts %}
  <div class="card">
    <div class="card__body">
      <div class="contentitem" data-url="{{ post.get_absolute_url }}" data-id="{{ post.id }}">
        <div class="contentitem-item">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </div>
        <div class="contentitem-item contentitem-item-flex">
          <div class="img-wrapper--xs margin-right--l">
            <a class="link--absolute" href="{% url 'profiles:profile_activity' id=post.user.id slug=post.user.profile.slug %}"></a>
            <img class="img--cover img-border--s" src="{{ post.user.profile.avatar.url }}">
          </div>
          <div>
            <div>
              <a href="{% url 'profiles:profile_activity' id=post.user.id slug=post.user.profile.slug %}">{{ post.user.username }}</a>
            </div>
            <div>
              {% if post.user.profile.credential %}<span>{{ post.user.profile.credential }}</span>{% endif %}
            </div>
          </div>
        </div>
        <div class="contentitem-item">
          <div>{{ post.content }}</div>
        </div>
        <div class="contentitem-item">
          <a href="{{ post.topic.get_absolute_url }}">{{ post.topic.name|capfirst }}</a>
        </div>
        <div class="contentitem-item">
          <a href="{{ post.get_absolute_url }}">Published {{ post.date_published }}</a>
        </div>
        <div class="contentitem-item">
          <button type="button" class="button button--blue {% if value|index:forloop.counter0 != "self" %}{% if value|index:forloop.counter0 %}button--active{% endif %} js-post-like{% endif %} {% if not request.user.is_authenticated %}js-get-login-modal{% endif %}" {% if value|index:forloop.counter0 == "self" %}disabled{% endif %}><span class="fa fa-thumbs-o-up margin-right--s" aria-hidden="true"></span><span>{{ post.likes }}<span></button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  {% endblock body %}

  {% block javascript %}
  <script src="{% static "js/post_detail.js" %}"></script>
  {% endblock javascript %}
