{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Home - Viz{% endblock title %}
{% block body %}
<div class="container">
  <div class="wrapper">
  <div class="wrapper__header">
    <h2>Topics<h2>
  </div>
  <div class="wrapper__body gallery">
    {% for topic in topics %}
    <div class="gallery-item">
      <a class="gallery-action" href="{{ topic.get_absolute_url }}"><span class="gallery-caption">{{ topic.topic }}</span></a>
      <img class="gallery-img img--cover" src="{{ topic.image.url }}">
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock body %}
