/* Flexbox */
.flex-row{
  display: flex;
  align-items:center;
}

.flex-center{
  justify-content: center;
}

.flex-space-between{
  justify-content: space-between;
}

.flexitem--full{
  flex:1;
}

/* General */
html{
  font-size: 100%;
}

body {
  margin: 0;
  padding-top:80px;
  background: #f7f8fa;
}

h1,h2,h3,h4,h5,h6{
  margin: 0
}

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.17rem;
}
h4{
  font-size: 1rem;
}
h5{
  font-size: 0.83rem;
}
h6{
  font-size: 0.67rem;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  width: 100%;
}

a{
  text-decoration: none;
  color:#787985;
}

a:focus{
  outline: none;
}

p {
  margin: 0;
}

h1{
  margin: 0;
}

select {
  border: 0;
}

textarea {
  resize: none;
  border: none;
  padding: 0;
}

textarea:focus {
  outline: none;
}

input {
  border: none;
  padding: 0;
}

input:focus {
  outline:none;
}

/*.container{
  padding: 0 20px;
}

.row{
  margin-left: -20px;
  margin-right: -20px;
}*/



/* Navigation */
.navbar{
  position: fixed;
  top:0;
  left:0;
  right:0;
  border-bottom: 1px solid rgba(30,35,42,.06);
  box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
  background: #fff;
  z-index: 2000;
}

.navbar__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar__logo a{
  color: inherit;
  display: block;
}

.navbar__vertical{
  margin: 0 -20px;
}

.navbar__vertical-flex{
  display: flex;
  flex-direction: column;
}

.navbar__vertical-flex a{
  display: block;
  padding: 20px;
}

.navbar__vertical-flex a:hover{
  background-color: #EDF1F5;
  color:#E82F3A;
}

/* Forms */
.formfield{
  padding: 15px 0;
}

.formfield__label{
  margin-bottom: 10px;
}

.formfield__input{
  padding: 10px;
  border:1px solid #e7eaf1;
}

.formfield select{
  border:1px solid #ccd8e1;
  border-radius: 4px;
  padding: 10px;
}

.formfield__input--focus{
  border: 1px solid #9fadc7;
}

.formfield__error{
  color: #c33;
  padding: 10px 0;
}



/* Header */

/* Card */
.card{
  background: #fff;
  border: 1px solid #e7eaf1;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,37,55,.05);
  margin-bottom: 15px;
}

.card__background{
  height:300px;
}

.card__background img{
  object-fit: cover;
  height: 100%;
}

.card__header{
  padding: 15px;
}

.card__headerinner{
  border-bottom: 1px solid #E0E6ED;
  padding: 10px 0;
}

.card__body{
  position: relative;
  padding:30px 15px;
}

.card__content{
  text-align: center;
}

.card__contentitem{
  margin-bottom: 15px;
}

.card__contentitem--last{
  margin-bottom: 0;
}

.card__listitem{
  margin-bottom: 15px;
}

.card__listitem--last{
  margin-bottom: 0;
}

.card__listitemlabel{
  margin-right: 10px;
}

.card__buttongroupitem{
  margin-bottom: 15px;
}

.card__buttongroupitem--last{
  margin-bottom: 0;
}



.card__navitem.active{
  background: #ececec;
}

.card__navitem a{
  padding: 15px;
  display: block;
}

.card__navitem a:hover{
  color: #2b6dad;
}

.form{
  padding: 0 15px;
}
.profile-content{
  position:fixed;
  top:80px;
  left:0;
  right:0;
  bottom: 0;
  overflow-y: auto;
}

.profile-wrapper{
  /*position: relative;
  left:-100%;*/
}

.profile-background{
  position: relative;
}

.profile-background-edit{
  position: absolute;
  top: 20px;
  right: 20px ;
}

.profile-avatar{
  height:100%;
  object-fit: cover;
}

/* Footer */

.collapsed{
  display:none;
}



.List-header{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f2f7;
}

.List-header-title{
  margin: 0;
  font-size: 15px;
}

.List-header-options{

}

.List-item{
  padding: 16px 20px;
  border-bottom: 1px solid #f0f2f7;
}

.List-item-last{
  border-bottom: 0;
}

/*.modal-more{
  padding: 16px 20px;
}*/

.ContentItem-header{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.ContentItem-meta{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ContentItem-avatar{
  margin-right: 10px;
}

.ContentItem-likers{
  margin-bottom: 10px;
}

.ContentItem-content{
  margin-bottom: 10px;
}

.ContentItem-content:hover{
  color:#6f6f6f;
}

.ContentItem-content p{
  margin-bottom: 10px;
}
/*.ContentItem-meta, .ContentItem-likers, .ContentItem-content,.ContentItem-time,.ContentItem-comments
{
  margin-top:10px;
}*/

.ContentItem-time{
  color:#8590a6;
}

.ContentItem-actions{
  display:flex;
  align-items:center;
}


.ContentItem-action{
  margin-left: 25px;
}


/* post-comments-collpase.html */
.ContentItem-comments{
  border: 1px solid #e7eaf2;
  box-shadow: 0 1px 3px 0 rgba(0,33,77,.05);
  border-radius: 4px;
  margin-top: 10px;
}

.ContentItem-comments-topbar{
  border-bottom: 1px solid #f0f2f7;
  border-radius: 2px;
  padding:16px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.ContentItem-comments-topbar-title{
  font-size: 15px;
}

.ContentItem-comments-body{
  border-bottom: 1px solid #ebeef5;
}

.ContentItem-comments-status{
  padding:16px;
}

.ContentItem-CommentItem{
  padding: 16px;
  border-bottom:1px solid #f0f2f7;
}

.ContentItem-CommentItem-last{
  border-bottom: 0;
}

.ContentItem-CommentItem-meta{
  display: flex;
  align-items: center;
  margin-bottom:10px;
}

.ContentItem-CommentItem-avatar{
  margin-right:10px;
}

.ContentItem-CommentItem-time{
  flex:1;
  text-align: right;
  color: #8590a6;
}

.ContentItem-CommentItem-content{
  margin-bottom:10px;
}

.ContentItem-CommentItem-actions{
 display: flex;
 align-items: center;
}

.ContentItem-comments-footer{
  padding: 16px;
}

.ContentItem-comments-form-collapse{
  margin-top: 10px;
}

.ContentItem-comments-form-collapse-inner{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.ContentItem-modal-header{
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid #f0f2f7;
  align-items: center;
  justify-content: space-between;
}

.ContentItem-modal-main{
  display: flex;
}

.ContentItem-modal-avatar{
  margin-right: 15px;
}

.avatar-large{
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.ContentItem-modal-meta{
  flex:1;
}

.ContentItem-modal-meta-title h2{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.ContentItem-modal-meta-status{
  margin-top:5px;
  color: #8590a6;
    }

.ContentItem-modal-follow{
  align-self: center;
}

/* Images */



/* icons */

.icon{
  color: #9fadc7;
}

.icon--left{
  margin-right: 10px;
}

.icon--right{
  margin-left: 10px;
}

/* Links */
.link--blue{
  padding:6px 12px;
  border: 1px solid #0f88eb;
  border-radius: 2px;
  color: #0f88eb;
  display: inline-block;
}

.link--blue:hover{
  background: rgba(13,121,209,.06);
}



/* Buttons */
.button{
  background: transparent;
  border: none;
  padding:6px 12px;
  font:inherit;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

.button--plain{
  color: #8590a6;
  padding: 0;
}

.button--plain:hover{
  color:#7a8599;
}

.button--plain.active {
  background: #2d84cc;
  border-color: #2d84cc;
  color:#eef3f7;
}

.button--blue{
  border: 1px solid #0f88eb;
  border-radius: 2px;
  color: #0f88eb;
}

.button--blue:hover{
  background: rgba(13,121,209,.06);
}

.button--blue.button--primary{
  background:#0f88eb;
  color: #fff;
}

.button--blue.button--primary:hover{
  background:#0d79d1;
}

.button--gray{
  border: 1px solid #ccd8e1;
  border-radius: 2px;
  color: #ccd8e1;
}

.button--gray:hover{
  background:hsla(0,0%,100%,.04);
}

.button--close{
  color: #ccd8e1;
}

.button--close:hover{
  opacity: 0.5;
}









.btn-submit{
  background: linear-gradient(to bottom,#1d7fe2,#0865c2);
  border: 1px solid #0D6EB8;
  color:#fff;
  padding: 4px 10px;
  margin-left: 10px;
}

.btn-submit:hover{
  color:#fff;
}

.btn-submit:focus{
  color:#fff;
}

.btn-submit:active{
  background: linear-gradient(to bottom,#1d7fe2,#0865c2);
}

.btn-dislike{
  margin-left: 5px;
}

.btn-vote{
  background: #ebf3fb;
  border-color: #ebf3fb;
  color:#2d84cc;
}

.btn-vote:focus{
  color:#2d84cc;
}



.btn-vote:hover{
  background: #e4ebf3;
  border-color: #e4ebf3;
  color:#2d84cc;
}

.btn-vote.active {
  background: #2d84cc;
  border-color: #2d84cc;
  color:#eef3f7;
}

.btn-vote.active:focus{
  outline: none;
  color:#eef3f7;
}

.btn-vote.active:hover {
  background-color: #2774b3;
  border-color: #2774b3;
}

.btn-vote.active:active{
  box-shadow: none;
}


.btn-closeModal{
  padding: 12px;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.2;
  background: none;
  border: none;
}

.btn-closeModal:hover{
  opacity: 1;
}

.btn-closeModal:focus{
  outline: none;
}

.btn-closeModal:active{
  box-shadow: none;
}

.btn-more{
  padding: 10px 15px;
  background-color: #edeff4;
  border:1px solid #d8dfea;
  border-radius: 0;
  color:#365899;
}

.btn-more:hover{
  background-color: #c4d2e7;
  color:#365899;
  text-decoration:underline;
}

.btn-more:focus{
  outline: none;
  color:#365899;
}

.btn-more:active{
  box-shadow: none;
  color:#365899;
}
/* Pagination */

.Pagination{
  padding: 16px 20px;
  text-align: center;
  border-top: 1px solid #f0f2f7;
}

.btn-pagination{
  padding: 0 15px;
  color: #262626;
  transition: color .2s;
}


.btn-pagination-disabled{
  cursor: default;
  opacity: .5;
  padding: 0 15px;

}

.btn-pagination-more{
  padding: 0 15px;
  color: #262626;
  cursor:text;
}

/* Alerts */
.alert{
  position: fixed;
  width: 33%;
  top: 80px;
  left: 33%;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
}

.alert--success{
  background-color: #fff;
  border: 1px solid #e7eaf1;
  box-shadow: 0 1px 3px rgba(0,37,55,.05);
  color: #8590a6;
}



/* State */
.hidden{
  display: none;
}

.last{
  margin-bottom: 0;
}




/* Avatars */
.avatar{
  position: relative;
  border: 4px solid #fff;
  border-radius: 8px;
  max-width: 100%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.avatar__wrapper{
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
}

.avatar__mask{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  border-radius: 8px;
}

.avatar__maskinner{
  text-align: center;
  color: #fff;
}



/* Modals */
.modal{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index:3000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__wrapper{
  width: 100%;
  margin: 0 10px;
  text-align: center;
  position: relative;
  top:-500px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
}

.modal__header{
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal__body{
  padding: 30px 15px;
  border-bottom: 1px solid #eceeef;
}

.modal__footer{
  padding: 15px;
}

.modal__close{
  position: absolute;
  top: 0;
  right: 0;
}

.modal__canvas{
  display: block;
  max-width: 100%;

  margin: 0 auto;
}

/*@media (min-width: 250px){
  .modal__canvas{
    height:200px;  }

}*/
@media (min-width: 768px){
  body{
    overflow: auto;
  }

  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.67rem;
  }
  h4{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1.33rem;
  }
  h6{
    font-size: 1.17rem;
  }


  .navbar__header{
    display: none;
  }

  .navbar__vertical{
    display: none;
  }

  .navbar__horizontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .navbar__horizontal ul{
    display: flex;
  }

  .navbar__horizontal-flex a{
    display: block;
    padding: 0 20px;
    color:#787985;
  }

  .navbar__horizontal-flex a:hover{
    color:#E82F3A;
  }



  .profile-wrapper{
    position: static;
  }

  .profile-content{
    position:static;
    overflow-y: auto;
  }


  .modal__wrapper{
    width: 600px;
    margin: 0;

  }


}



@media (min-width: 992px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 2.17rem;
  }
  h4{
    font-size: 2rem;
  }
  h5{
    font-size: 1.83rem;
  }
  h6{
    font-size: 1.67rem;
  }

  .avatar__wrapper{
    left: 50px;
    right: auto;
  }


}
