/*.navbar {
  margin-bottom: 0;
}*/
body {
  padding-top: 70px;
  background-color: #f7f8fa;
}

.section{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border:1px solid #ddd;
}



.thumbnail_post_list{
  border:0;
  border-bottom: 1px solid #eee;
}

.thumbnail_post_detail{
  border:0;
}

.thumbnail a>img {
  max-width: none;
}



#profile_base_username{
  margin-top: 0;
}

#modal_comment_body{
  text-align: center;
}

#modal_comment_footer{
  text-align: center;
}

.profile_avatar{
  width:40px;
  height:40px;
}

/* post_detail */

.post_title_container{
  margin-top: 20px;
}


.post_author_container{
  margin-top: 20px;
}

.post_likers_container{
  margin-top: 20px;

}

.post_likers_button{
  padding: 0;
}

.post_likers_modal_profile_avatar{
  width:60px;
  height:60px;
}
.post_content_container{
  margin-top: 20px;
}


.post_date_container{
  margin-top: 20px;
}


.post_buttons_container{
  margin-top: 20px;
}

.post_seemore_container{
  margin-top: 20px;
}
